# config.yml
assistant_id: "default"
recipe: default.v1
language: en

pipeline:
  - name: WhitespaceTokenizer
  - name: RegexFeaturizer
  - name: LexicalSyntacticFeaturizer
  - name: CountVectorsFeaturizer         # word n-grams
    OOV_token: "[OOV]"
    min_ngram: 1
    max_ngram: 2
  - name: CountVectorsFeaturizer         # char n-grams help with short texts like "Hi!"
    analyzer: char_wb
    min_ngram: 3
    max_ngram: 5
  - name: DIETClassifier
    epochs: 100
    constrain_similarities: true
  - name: EntitySynonymMapper
  - name: ResponseSelector
    epochs: 60
  - name: FallbackClassifier
    threshold: 0.3
    ambiguity_threshold: 0.1

policies:
  - name: RulePolicy
  - name: TEDPolicy
    max_history: 5
    epochs: 50
